/* Fontin tuonti kansiosta. */
@font-face {
  font-family: 'cascadiaCodeFontti';
  src: url('fontti/CascadiaCode.ttf') format('truetype');
}
/* Fontin ja tausta värin asetus.*/
body {
  margin: 0;
  font-family: 'cascadiaCodeFontti';
  background-color: #E8F3F9;
}
/* Valittu sivu päävalikosta*/
#valinta{
  background-color: #3ff435;
  color: darkslategray;
}
/* Navigointipalkin asetuksia*/
.navigation-bar{
  overflow: hidden;
  background-color: #9DFE98;
  position: relative;
}

/* navigointipalkin a elementtien asetukset. */
.navigation-bar a {
  float: left;
  color: black;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 32px;
  margin: 4px 2px;
}

/* navigointipalkin a elementtien reaktiot hiireen. */
.navigation-bar a:hover {
  background-color: #A6F4BE;
  color: whitesmoke;
}

.navigation-bar a.active {
  background-color: #A6F4BE;
  color: whitesmoke;
}

/* Tilaa napin asetuksia. */
.tilaanappi {
  background-color: #A6F4BE; 
  border-width: 10px;
  color: black;
  border-color: #FDF8F5;
  font-family: 'cascadiaCodeFontti';
  font-size: 32px;
  cursor: pointer;
  border-radius: 18px;
}

.tilaanappi:hover {
  background-color: #9DFE98;
  color: whitesmoke;
  border-color:#E8F3F9
}

/* pidike kuvavalikon kuville*/
.kuvapidike {
  justify-content: space-around;
  align-items: center;
}

 /* asetukset kuvavalikon kuville */ 
.kuva { 
  height: 200px; 
  width: auto; 
  position: relative;
} 

/* Sisällön keskitystä varten luotu pidike */ 
.pidike {
 
  text-align: center;
}
/* Kaupan tuotteille kortti missä hinta ja nappi mikä paljastaa lisää tietoa tuotteesta("piiloteksti"). */ 
.kortti {
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
  background-color: #A6F4BE;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 25px;

}

.hinta {
  color: grey;
  font-size: 22px;
}

.kortti button {
  border-width: 5px;
  border-color: #E8F3F9;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #9DFE98;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 25px;
}

.piiloteksti{
  display: none;
}

.kortti button:hover {
  opacity: 0.7;
}

/* piilotekstin näyttäminen kun napin päällä pidetään hiirtä.*/ 
.kortti button:hover + .piiloteksti {
  display: block;
  color: red;
}

/* Yläpalkin logon asetuksia.*/ 
.logo{
  width: 100px; 
  border-radius: 66px;
}
.etusivunlogo{
  width: 45%;
}
/* Footer ja footer listan(tiedot sivulla) asetuksia*/ 
.footer {
  padding-bottom: 3px;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  background-color: #9DFE98;
  color: black;
  text-align: center;
}

.footer ul {
  text-align: left;
  list-style: circle;
  list-style-position: inside;
}

/* ylä- ja kuvavalikon sijoitus Näytön ollessa eri kokoinen.*/
@media (max-width: 750px) {
  .navigation-bar a {
    padding: 0%;
    width: 100%;
  }
  .navigation-bar ul {
    padding-right: 10%;
  }
  .kuvapidike {
    display: grid;
  }
  .logo{
    margin-top: auto;
    margin-bottom: auto;
  }
  .etusivunlogo{
    width: 50%;
  }

 
}
@media screen and (min-width: 750px) {

  .kuvapidike {
    display: grid;
  }
  .logo{
    margin-top: -20px;
    margin-bottom: -30px;
  }
  .etusivunlogo{
    width: 35%;
  }
  #valinta{
    border-radius: 15px;
  }
}

@media screen and (min-width: 1200px) {

  .kuvapidike {
    display: flex;
  }
  .navigation-bar a {
    padding: 24px 16px;
    width: auto;
  }
  .etusivunlogo{
    width: 25%;
  }
}